---
layout: page
title: Recueil
subtitle: Poèmes, récits et pensées
sitemap:
  priority: 0.9
---

<!--<center>
	<img src="{{site.baseurl}}/assets/transparent.png" width="40%">
</center>-->

<ul class="list-posts">
    {% for post in site.posts %}
    	{% assign date_english = post.date | date: "%d %B %Y" %}
		{% include date-french.html %}    
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <!--<span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>-->
                <span class="post-teaser__date">{{ date_french }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
