---
layout: default
---
{% include post/title.html %}


<div class="content">
    {{ content }}
</div>

{% if page.previous %}
  <a href="{{ page.previous.url }}" class="post-nav prev"><span class="fa fa-angle-left">::before</span> {{ page.previous.title }}</a>
{% endif %}
 -- 
{% if page.next %}
  <a href="{{ page.next.url }}" class="post-nav next">{{ page.next.title }} <span class="fa fa-angle-right">::before</span></a>
{% endif %}

{% include post/about.html %}

{% include externals/disqus.html %}
