{% for category in site.data.categories %}
  {% if category.slug == page.category %}
    {% assign category_name =  category.name %}
  {% endif %}
{% endfor %}

{% assign count = 0 %}
{% for post in site.posts %}
  {% if post.published != false and post.categories contains page.category %}
    {% assign count = count | plus: 1 %}
  {% endif %}
{% endfor %}

<h1 class="page-title">
    <div class="page-title__text">{{ category_name }}</div>
    <div class="page-title__subtitle">{{ count }} poèmes de la catégorie <strong>‘{{ category_name }}’</strong></div>
</h1>
